# A ML based Quantitative Credit Scoring Model

Team: Hongfei Ge, Sijie Hou, Shuwen Pang

In [2]:
# import modules here
import pandas as pd
import numpy as np

## 1. Variable Mapping

In [22]:
data = pd.read_table("./data/Credit_data_RSM6305.txt",sep=' ')
data.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21
1,A11,6.0,A34,A43,1169.0,A65,A75,4.0,A93,A101,...,A121,67.0,A143,A152,2.0,A173,1.0,A192,A201,1
2,A12,48.0,A32,A43,5951.0,A61,A73,2.0,A92,A101,...,A121,22.0,A143,A152,1.0,A173,1.0,NaN,A201,2
3,A14,12.0,A34,A46,2096.0,NaN,A74,2.0,A93,A101,...,A121,49.0,A143,NaN,1.0,A172,2.0,A191,A201,1
4,A11,42.0,A32,A42,7882.0,A61,A74,2.0,A93,A103,...,A122,45.0,A143,A153,1.0,A173,2.0,A191,A201,1
5,A11,24.0,A33,A40,4870.0,A61,A73,3.0,NaN,A101,...,A124,53.0,A143,A153,2.0,A173,NaN,A191,A201,2

In [23]:
data.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21'],
      dtype='object')

## 2. Exploratory Data Analysis &Wranging

## 3. Variable Selection and Transformation

## 4. Estimation

## 5. Performance Validation